body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
justify-items: center;
align-items: center;
margin-top: 100px;
background-color: aqua;
}

.ParentContainer {
    border: 2px solid black;
    padding: 20px;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 700px;
    background-color: aquamarine;
    border-radius: 50px 50px;
}

.Label {
    border-radius: 50px 50px;
    background-color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#clock {
    border-radius: 50px 50px;
    background-color: aliceblue;
    font-size: 50px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}